.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  img{
    position: absolute;
    left: 25%;
    top: 15%;
  }
  h1 {
    position: relative;
    margin-top: 75%;
    left: 25%;
  }
  .profile-chip {
    position: relative;
    margin-top: 1%;
    left: 28%;
  }
  .profile-icons {
    position: relative;
    margin-top: 1%;
    left: 27%; 
  }
  .profile-resume {
    position: relative;
    margin-top: 1%;
    left: 15%;
    margin-bottom: 20%;
  }
}
