/* General Styles */
.App {
  text-align: center;
}

.card-media {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-header-title {
  color: red;
  border: 1px solid ButtonFace;
  text-align: center;
  margin: 1rem auto; /* Center the header */
}

.card-content {
  margin-top: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icons a {
  color: #1976d2; /* Secondary color for the icons */
}

.resume-button {
  margin: 2rem auto;
}

.github-stats {
  margin-top: 2%;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.projects-section {
  margin-top: 2%;
  height: 900px;
  overflow-y: auto;
  padding: 1rem;
}

.tech-stack {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

/* Responsive Styles */
@media only screen and (max-width: 800px) {
  .card-header-title {
    font-size: 1.5rem; /* Adjust size for smaller screens */
    margin: 0.5rem auto;
  }

  .card-content {
    margin: 1rem;
  }

  .projects-section {
    height: auto;
    margin-top: 2%;
  }

  .tech-stack {
    margin-top: 2%;
    gap: 1rem;
  }
}

/* Additional Styles */
.tech-stack img {
  width: 5%;
  height: auto;
}
